body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../item_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:120px;
}

.u0 {
    position:absolute;
    left:10px;
    top:70px;
    width:10px;
    height:120px;
    
}

.u1_normal {
    background-image: url('../item_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:10px;
    top:100px;
    width:10px;
    height:10px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u2 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../item_summary_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:30px;
    top:80px;
    width:20px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../item_summary_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:60px;
    top:80px;
    width:50px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:120px;
    top:80px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../item_summary_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:590px;
    height:3px;
}

.u8 {
    position:absolute;
    left:30px;
    top:100px;
    width:590px;
    height:10px;
    
}

.u9 {
    position:absolute;
    left:470px;
    top:80px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:30px;
    top:110px;
    width:190px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:230px;
    top:110px;
    width:190px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:430px;
    top:110px;
    width:190px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:320px;
    top:158px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:120px;
    top:158px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:500px;
    top:158px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:30px;
    top:150px;
    width:140px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:230px;
    top:150px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:430px;
    top:150px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../header_files/u3_normal.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:10px;
    width:140px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:56px;
}

.u25 {
    position:absolute;
    left:2px;
    top:17px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../item_files/u0_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:120px;
}

.u27 {
    position:absolute;
    left:10px;
    top:193px;
    width:10px;
    height:120px;
    
}

.u28_normal {
    background-image: url('../item_files/u1_normal.png');
}

.u28_container {
    position:absolute;
    left:10px;
    top:223px;
    width:10px;
    height:10px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../item_summary_files/u3_normal.png');
}

.u30_container {
    position:absolute;
    left:30px;
    top:203px;
    width:20px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../item_summary_files/u5_normal.png');
}

.u32_container {
    position:absolute;
    left:60px;
    top:203px;
    width:50px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:120px;
    top:203px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../item_summary_files/u8_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:590px;
    height:3px;
}

.u35 {
    position:absolute;
    left:30px;
    top:223px;
    width:590px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:470px;
    top:203px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u38_container {
    position:absolute;
    left:30px;
    top:233px;
    width:190px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u40_container {
    position:absolute;
    left:230px;
    top:233px;
    width:190px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u42_container {
    position:absolute;
    left:430px;
    top:233px;
    width:190px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:320px;
    top:281px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:120px;
    top:281px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:500px;
    top:281px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:30px;
    top:273px;
    width:140px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:230px;
    top:273px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:430px;
    top:273px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../item_files/u0_line.png');
}

.u51_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:120px;
}

.u51 {
    position:absolute;
    left:10px;
    top:316px;
    width:10px;
    height:120px;
    
}

.u52_normal {
    background-image: url('../item_files/u1_normal.png');
}

.u52_container {
    position:absolute;
    left:10px;
    top:346px;
    width:10px;
    height:10px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../item_summary_files/u3_normal.png');
}

.u54_container {
    position:absolute;
    left:30px;
    top:326px;
    width:20px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../item_summary_files/u5_normal.png');
}

.u56_container {
    position:absolute;
    left:60px;
    top:326px;
    width:50px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:120px;
    top:326px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../item_summary_files/u8_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:590px;
    height:3px;
}

.u59 {
    position:absolute;
    left:30px;
    top:346px;
    width:590px;
    height:10px;
    
}

.u60 {
    position:absolute;
    left:470px;
    top:326px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u62_container {
    position:absolute;
    left:30px;
    top:356px;
    width:190px;
    height:30px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u63 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u64_container {
    position:absolute;
    left:230px;
    top:356px;
    width:190px;
    height:30px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u65 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u66_container {
    position:absolute;
    left:430px;
    top:356px;
    width:190px;
    height:30px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u67 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:320px;
    top:404px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:120px;
    top:404px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:500px;
    top:404px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:30px;
    top:396px;
    width:140px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:230px;
    top:396px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:430px;
    top:396px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../item_files/u0_line.png');
}

.u75_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:120px;
}

.u75 {
    position:absolute;
    left:10px;
    top:439px;
    width:10px;
    height:120px;
    
}

.u76_normal {
    background-image: url('../item_files/u1_normal.png');
}

.u76_container {
    position:absolute;
    left:10px;
    top:469px;
    width:10px;
    height:10px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u77 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../item_summary_files/u3_normal.png');
}

.u78_container {
    position:absolute;
    left:30px;
    top:449px;
    width:20px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../item_summary_files/u5_normal.png');
}

.u80_container {
    position:absolute;
    left:60px;
    top:449px;
    width:50px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:120px;
    top:449px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_line {
    background-image: url('../item_summary_files/u8_line.png');
}

.u83_line {
    position:absolute;
    left:0px;
    top:4px;
    width:590px;
    height:3px;
}

.u83 {
    position:absolute;
    left:30px;
    top:469px;
    width:590px;
    height:10px;
    
}

.u84 {
    position:absolute;
    left:470px;
    top:449px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u86_container {
    position:absolute;
    left:30px;
    top:479px;
    width:190px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u88_container {
    position:absolute;
    left:230px;
    top:479px;
    width:190px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u89 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../item_files/u11_normal.png');
}

.u90_container {
    position:absolute;
    left:430px;
    top:479px;
    width:190px;
    height:30px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u91 {
    position:absolute;
    left:2px;
    top:7px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:320px;
    top:527px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:120px;
    top:527px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:500px;
    top:527px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:30px;
    top:519px;
    width:140px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:230px;
    top:519px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:430px;
    top:519px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../paging_files/u99_line.png');
}

.u99_line {
    position:absolute;
    left:0px;
    top:4px;
    width:610px;
    height:3px;
}

.u99 {
    position:absolute;
    left:10px;
    top:560px;
    width:610px;
    height:10px;
    
}

.u100 {
    position:absolute;
    left:470px;
    top:570px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

