<form>
  <?php if (isset($flash['message'])): ?>
    <div><?= $flash['message'] ?></div>
  <?php endif ?>
  <div>
    <label>title: <input type="text" name="title" value="<?= $this->getFlashValue('title') ?>"></label>
  </div>
  <div>
    <label>
      description:<br>
      <textarea name="descript"><?= $this->getFlashValue('descript') ?></textarea>
    </label>
  </div>
  <div>
    <label>will check on date: <input type="text" name="valid_date" value="<?= $this->getFlashValue('valid_date') ?>" class="date_input"></label>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
