<form method="post">
  <?php if (isset($flash['message'])): ?>
    <div><?= $flash['message'] ?></div>
  <?php endif ?>
  <div>
    <?php if (isset($flash['err_msg']['title'])): ?>
      <div class="text-error"><?= $flash['err_msg']['title'] ?></div>
    <?php endif ?>
    <label>title: <input type="text" name="title" value="<?= $this->getFlashRequestValue('title') ?>"></label>
  </div>
  <div>
    <?php if (isset($flash['err_msg']['descript'])): ?>
      <div class="text-error"><?= $flash['err_msg']['descript'] ?></div>
    <?php endif ?>
    <label>
      description:<br>
      <textarea name="descript"><?= $this->getFlashRequestValue('descript') ?></textarea>
    </label>
  </div>
  <div>
    <?php if (isset($flash['err_msg']['valid_date'])): ?>
      <div class="text-error"><?= $flash['err_msg']['valid_date'] ?></div>
    <?php endif ?>
    <label>we will check it on date: <input type="text" name="valid_date" value="<?= $this->getFlashRequestValue('valid_date') ?>" class="date_input"></label>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
