<!DOCTYPE html>
<html>
<head>
  <title><?= $this->get('title') ?: 'predict' ?></title>
  <link rel="stylesheet" href="/assets/date_input.css" type="text/css">
  <link rel="stylesheet" href="/assets/screen.css" type="text/css">
  <script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.date_input.js"></script>
  <script type="text/javascript" src="/assets/jquery.date_input.zh_CN.js"></script>
  <script type="text/javascript" src="/assets/script.js"></script>
</head>
<body>
<header>
  <div class="pull-right">
  <?php if(get_user_id()): ?>
    <?= $current_user['name'] ?>
    <a href="/logout">logout</a>
  <?php else: ?>
    <a href="/login">login</a>
  <?php endif; ?>
  </div>
  <a href="/"><h1>Predict</h1></a>
</header>
<?php include $_inner_view; ?>
</body>
</html>
